.col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.well#list
  %h2 Edit Profile
  .row#form-row
    .col-md-12
      = form_for @user do |f|
        - if @user.errors.any?
          #error_explanation
            %h2 Form is invalid
            %ul
              - @user.errors.full_messages.each do |message|
                %li= message
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'
        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control', placeholder: "Enter password"
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter new password confirmation"
        .form-group
          = f.submit "Update", class: 'btn btn-success', method: "put"