.panel.panel-heading
  .panel.panel-title
    %h1= @wiki.markdown_title
.panel.panel-body
  %p= @wiki.markdown_body
  %br
  %br
  - if @wiki.collaborations != []
    .row#collaborator-row
      .col-md-5
        %table.table#collaborator-list
          %tr
            %td 
              %h4 Collaborators
            - if current_user && current_user.owns?(@wiki)
              %td
                %h4 Delete
          - @wiki.collaborations.each do |collaboration|
            %tr{:id => "collaboration-#{collaboration.id}"}
              %td= collaboration.user.name
              - if current_user && current_user.owns?(@wiki)
                %td
                  %span.badge.delete
                    = link_to "", collaboration_path(collaboration), method: :delete, remote: true, class: 'glyphicon glyphicon-unchecked'