.panel.panel-default
  .panel-heading
    .panel-title
      %h1 Select a Wiki
  %table.table
    %tr
      %td
      %td 
        %h4
          %strong Title
      %td
        %h4
          %strong Author
    - @wikis.each_with_index do |wiki, index|
      %tr
        %td
          %strong= index + 1
        %td= link_to wiki.title, wiki
        %td=  wiki.user.name
  .panel-footer  
    = will_paginate @wikis, class: "apple_pagination"
    %br
    - if current_user
      = link_to "New Wiki", new_wiki_path, class: 'btn btn-success'