!!!
%html
  %head
    %title Blocipedia
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    %script(src="https://cdn.rawgit.com/MatthewTFarley/blocmetrics/master/app/assets/javascripts/api/blocmetrics.js")
  %body
    .navbar.navbar-default.nav-bar-static-top
      .container-fluid#header
        .navbar-header
          = link_to "Blocipedia", wikis_path, class: "navbar-brand", id: "brand"
          %button#nav-button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span#bar.icon-bar
            %span#bar.icon-bar
            %span#bar.icon-bar
        %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
          %li= link_to "About", about_path
          - if current_user
            %li
              = link_to new_wiki_path do
                %span.glyphicon.glyphicon-plus
                New Wiki
            %li= link_to "#{current_user.name}", edit_user_path(current_user.id)
            %li= link_to "Log out", logout_path, method: "delete"
          - else
            %li= link_to "Sign up", signup_path
            %li= link_to "Sign in", login_path
          
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:notice]
    - if flash[:danger]
      .alert.alert-danger
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:danger]
    - if flash[:alert]
      .alert.alert-warning
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:alert]
        
    .container#content
      = yield