!!!
%html
  %head
    %title Blocipedia
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  %body
    .navbar.navbar-default
      .container-fluid#header
        .navbar-header
          %a.navbar-brand#brand{href: root_path} Blocipedia
        %ul.nav.nav-tabs.pull-left
          %li= link_to "About", about_path
        %ul.nav.nav-tabs.pull-right
          %li= link_to "Wikis", wikis_path
          %li= link_to "Create Wiki", new_wiki_path
          - if current_user
            %li= link_to "#{current_user.name}", edit_user_path(current_user.id)
            %li= link_to "Log out", logout_path, method: "delete"
          - else
            %li= link_to "Sign up", signup_path
            %li= link_to "Sign in", login_path
          
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:notice]
    - if flash[:danger]
      .alert.alert-danger
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:danger]
    - if flash[:alert]
      .alert.alert-warning
        %button.close{"data-dismiss" => "alert", type: "button"} x
        = flash[:alert]
        
    .container#content
      = yield